.container{
        display: flex;
    }
.sideBar{
        text-align: center;
    }
    .mapArea{
        top: 20%;
        float: right;
        border: 5px solid white;
        margin: 0 10px 10% 20px;
    }
    .header{
        color: white;
        margin: 30px ;
    }
    .mapboxgl-map{
        display: block;
        overflow: none;
    }
    .analysedData{
        transform:none !important;
         top: 15%;
        left: 10px;
        border-color: grey;
    }
    .mapboxgl-popup-content{
        max-width: 60%;
        font-size: 22px;
    }
    .mapboxgl-popup-anchor-top .mapboxgl-popup-tip,
    .mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip,
    .mapboxgl-popup-anchor-center .mapboxgl-popup-tip,
    .mapboxgl-popup-anchor-left .mapboxgl-popup-tip,
    .mapboxgl-popup-anchor-right .mapboxgl-popup-tip,
    .mapboxgl-popup-anchor-bottom-right .mapboxgl-popup-tip,
    .mapboxgl-popup-anchor-bottom-left .mapboxgl-popup-tip,
    .mapboxgl-popup-anchor-top-right .mapboxgl-popup-tip, 
    .mapboxgl-popup-anchor-top-left .mapboxgl-popup-tip{
        display:none !important;
    }
    .areaInfo{
        color: black;
        background-color: rgb(249, 250, 250);
    }
    .infoPop{
        padding-top: 25px;
        right: 5px;
        transform: none !important;
        flex-direction: unset !important;
        left: unset;
    }